body {
    margin: 0;
    background-color: #f3f8ec;
    color: #222;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container, .head-container {
    width: 90%;
    max-width: 960px;
    text-align: justify;
}

.container {
    padding-top: 70px;
}

#home {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}

.footer {
    margin-top: 70px;
    display: inline-block;
    width: 100%;
    color: #fff;
    background-color: #72a538;
    padding-bottom: 70px;
}

.footer span {
    display: inline-block;;
}

.navi {
    float: right;
}

.navi ul {
    list-style: none;
}

.navi li{
    padding: 8%;
}

.gallery {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.gallery a{
    color: #72a538;
}

.gallery a:hover{
    color: #000;
}

#gallery{
    display: table;
    margin-top: 20px;
    text-align: center;
}

.gallery-row {
    display: table-row;
}

.gallery img {
    width: 23vw;
    height: 23vw;
}

.gallery h3{
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
}

.images {
    position:relative;
    -webkit-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    display: inline-block;
}

.images:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

#social-media-linkedin {
    position: absolute;
    padding: 0;
    bottom: 5%;
    right: 5%;
    width: 15%;
    height: auto;
}

#social-media-fb {
    position: absolute;
    padding: 0;
    bottom: 24%;
    right: 5%;
    width: 15%;
    height: auto;
}

.title {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0%);
         -o-transform: translate(-50%,0%);
            transform: translate(-50%,0%);
    top: 28.1vw;
    font-size: 5vw;
    color: #fff /* rgba(250,250,250,0.7);*/
}

.label {
    color: #72a538;
    text-align: left;
}

a {
    color: #eee;
    text-decoration: none;
}
 
a:hover {
    color: #fff;
}
 
.bg-img {
    height: 100%;
    background: url('../../images/cycle.jpg') no-repeat fixed;
    background-size: 100% auto, cover;
}

header {
    background: #72a538;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
    z-index: 100;
    vertical-align: center;
    -webkit-transition: all .15s ease-out;
         -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
}

#logo{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    margin-left: 2%;
    float: left;
    -webkit-transition: all .15s ease-out;
         -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
}

#arrow{
    display: block;
    position: absolute;
    top: 38vw;
    left: 50%;
    height: 10vw;
    width: 15vw;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

#arrow-down:active ~ #home {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
}
 
nav { 
    height: 100%;
    position: relative;
    margin-right: 2%;
    float: right;
    display: block;  
    color: #ddd; 
}

#menu-icon img{
    transform: scale(0);
    height: 35px;
}
 
a:hover #menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}
 
header ul {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    list-style: none;
    margin: 0;
}
 
header li { 
    display: inline-block;
    float: left;
    padding: 10px
}
 
.current {
    color: #2262AD;
}

.service {
    display: table;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.service img{
    position: absolute;
    display: table-cell;
    height: 75%;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
         -o-transform: translate(0%,-50%);
            transform: translate(0%,-50%);
}

.service h3{
    margin: 0;
}

.service span{
    display: table-cell;
    width: 90%;
    padding-left: 3%;
}

@media only screen and (max-width : 640px) {
 
    header {
        position: fixed;
        height: 60px;
    }

    .bg-img {
        margin-top: 60px;
        height: 100%;
        background: url('../../images/cycle_mob.jpg') no-repeat;
        background-size: 100% auto, cover;
    }

    .title {
        top: 84vw;
        font-size: 8vw;
    }

    #logo{
        margin-left: 0;
        font-size: 80%;
    }

    #menu-icon img {
        display: block;
        visibility: visible;
        position: relative;
        top: 50%;
        padding-top: 8px;
        padding-bottom: 8px;
        transform: translateY(-50%);
        display:inline-block;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
        cursor: pointer;
    }

    nav {
        margin: 0;
    }

    nav ul { 
        /*display: none;*/
        visibility: hidden;
        opacity: 0;
        position: fixed;
        padding: 0;
        width: 100%;
        top: 60px;
        left: 0;
        -webkit-transform: translateY(-50%) scaleY(0);
            -ms-transform: translateY(-50%) scaleY(0);
             -o-transform: translateY(-50%) scaleY(0);
                transform: translateY(-50%) scaleY(0);
        -webkit-transition: all .3s ease-out;
             -o-transition: all .3s ease-out;
                transition: all .3s ease-out;
        background: #476723;
        width: 100%;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
    }
 
    nav li, .navi li {
        width: 100%;
        padding: 12px;
        padding-left: 0;
        padding-right: 0;
    }

    nav li a{
        margin-left: 5%;
    }

    nav:hover ul {
        /*display: block;*/
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0) scaleY(1);
            -ms-transform: translateY(0) scaleY(1);
             -o-transform: translateY(0) scaleY(1);
                transform: translateY(0) scaleY(1);
    }

    .gallery-row {
        display: inline-block;
        padding: 0;
    }

    .images  {
        display: inline-block;
        width: 75%;
        -webkit-filter: grayscale(0);
                filter: grayscale(0);  
    }

    .gallery img {
        width: 100%;
        height: auto;
        padding: 0;
        -webkit-filter: grayscale(0);
                filter: grayscale(0);   
    }

    .gallery {
        display: table-row;
        width: 50%;
        height: 50%;
        padding: 0;
    }

    #foot-img {
        display: none;
    }

    #arrow {
        display: none;
    }

    .navi, .about {
        float: none;
        text-align: center;
    }

    .navi ul {
        padding: 0;
    }

    .footer span {
        display: block;
    }

    .service{
        display: table;
        text-align: center;
    }

    .service img {
        display: inline-block;
        position: static;
        width: 30%;
        padding: 3%;
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
             -o-transform: translateY(0%);
                transform: translateY(0%);

    }

    .service span{
        display: inline-block;
        position: static;
    }

}

